*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
height: 100vh;
display:flex;
flex-direction: column;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: #2a397b;
}
header{
background-color: #1e3f58;
height: 100px;
color: #ffffff;
text-align: center;
align-content: center;
}
main{
flex: 1;
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 30px 30px; 
flex-wrap: wrap;
gap: 5px;
background-image: url("img/wp2035889nn.webp");
}
.card{
    width: 300px;
height: 425px;
background-color: #223d5a;
padding: 15px;
border-radius: 10px;
box-shadow: 3px 3px 5px #000000;
margin-bottom: 20px;

}
.card:hover{
    border: 5px solid #356eb97f;
    transform: scale(1.05);
    transition: 1s;
}
.card img{
    width: 270px;
    height: 270px;
    object-fit:cover ;
}
.card h2{
    text-align: center;
margin: 15px 0;
}
.card p{
font-size: 12px;
}
footer{
background-color: #1e3f58;
height: 50px;
color: #ffffff;
text-align: center;
align-content: center;
font-size: 16px;
}